<div   style="color:white;padding-top: 15%;"  >
<div class="container">
<div class="row">
  <div class="col-sm-6" >
   <h1>Log in for Students</h1>
  <a href="../users/sign_in"> <button type="button" class="btn btn-primary btn-lg btn-block" >Log In</button></a>
  </div>
  <div class="col-sm-6" >
  <h1>Log in for Admin</h1>
  <a href="../admin"><button type="button" class="btn btn-primary btn-lg btn-block" >Log In</button></a>
  </div>
</div>
</div> 
</div>