<style>
#mainNav{
background: #9CECFB;
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
}
</style>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" >
<div class="container">
  <a class="navbar-brand js-scroll-trigger" href="../users/sign_in">LearnLykEngineer</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
      </li>
      <% if user_signed_in? %>
<li class="nav-item">
<%= link_to('Logout', destroy_user_session_path,class:"nav-link js-scroll-trigger", method: :delete) %>        
</li>
<% else %>
<li>
<li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="../users/sign_in">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="../users/sign_up">Sign Up</a>
      </li>

</li>
<% end %>
      
    </ul>
  </div>
</div>
</nav>
