
 @import "bootstrap";
 


 @import 'https://fonts.googleapis.com/css?family=Calligraffitti';
 @import 'https://fonts.googleapis.com/css?family=Montserrat';
 $red: #ce3745;
 
 .vertical-center {
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
   min-height: 100vh; /* These two lines are counted as one :-)       */
 
   display: flex;
   align-items: center;
 }
 .login-container{
   margin-top: 5%;
   margin-bottom: 5%;
 }
 .login-logo{
   position: relative;
   margin-left: -41.5%;
 }
 .login-logo img{
   position: absolute;
   width: 20%;
   margin-top: 19%;
   background: #282726;
   border-radius: 4.5rem;
   padding: 5%;
 }
 .login-form-1{
   padding: 9%;
   background:#282726;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
 }
 .login-form-1 h3{
   text-align: center;
   margin-bottom:12%;
   color:#fff;
 }
 .login-form-2{
   padding: 9%;
   background: #f05837;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
 }
 .login-form-2 h3{
   text-align: center;
   margin-bottom:12%;
   color: #fff;
 }
 .btnSubmit{
   font-weight: 600;
   width: 100%;
   color: #282726;
   background-color: #fff;
   border: none;
   border-radius: 1.5rem;
   padding:2%;
 }
 .btnForgetPwd{
   color: #fff;
   font-weight: 600;
   text-decoration: none;
 }
 .btnForgetPwd:hover{
   text-decoration:none;
   color:#fff;
 }
 :root {
   --input-padding-x: 1.5rem;
   --input-padding-y: .75rem;
 }
 
 body {
   background: #9CECFB;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 
 .card-signin {
   border: 0;
   border-radius: 1rem;
   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
 }
 
 .card-signin .card-title {
   margin-bottom: 2rem;
   font-weight: 300;
   font-size: 1.5rem;
 }
 
 .card-signin .card-body {
   padding: 2rem;
 }
 
 .form-signin {
   width: 100%;
 }
 
 .form-signin .btn {
   font-size: 80%;
   border-radius: 5rem;
   letter-spacing: .1rem;
   font-weight: bold;
   padding: 1rem;
   transition: all 0.2s;
 }
 
 .form-label-group {
   position: relative;
   margin-bottom: 1rem;
 }
 
 .form-label-group input {
   border-radius: 2rem;
 }
 
 .form-label-group>input,
 .form-label-group>label {
   padding: var(--input-padding-y) var(--input-padding-x);
 }
 
 .form-label-group>label {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   margin-bottom: 0;
   /* Override default `<label>` margin */
   line-height: 1.5;
   color: #495057;
   border: 1px solid transparent;
   border-radius: .25rem;
   transition: all .1s ease-in-out;
 }
 
 .form-label-group input::-webkit-input-placeholder {
   color: transparent;
 }
 
 .form-label-group input:-ms-input-placeholder {
   color: transparent;
 }
 
 .form-label-group input::-ms-input-placeholder {
   color: transparent;
 }
 
 .form-label-group input::-moz-placeholder {
   color: transparent;
 }
 
 .form-label-group input::placeholder {
   color: transparent;
 }
 
 .form-label-group input:not(:placeholder-shown) {
   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
   padding-bottom: calc(var(--input-padding-y) / 3);
 }
 
 .form-label-group input:not(:placeholder-shown)~label {
   padding-top: calc(var(--input-padding-y) / 3);
   padding-bottom: calc(var(--input-padding-y) / 3);
   font-size: 12px;
   color: #777;
 }
 .btn-primary{
   color: white;
   background-color: #0052D4;
 }
 .btn-google {
   color: white;
   background-color: #ea4335;
 }
 
 .btn-facebook {
   color: white;
   background-color: #3b5998;
 }
 #mainNav {
   border-bottom: 1px solid fade-out($gray-900, .9);
   background-color: $white;
   
   .navbar-brand {
     font-weight: 700;
     text-transform: uppercase;
     color: $primary;
     
     &:focus,
     &:hover {
       color: darken($primary, .1);
     }
   }
   .navbar-nav {
     > li.nav-item {
        > a.nav-link,
       > a.nav-link:focus {
         font-size: .9rem;
         font-weight: 700;
         text-transform: uppercase;
         color: $gray-900;
         &:hover {
           color: $primary;
         }
         &.active {
           color: $primary !important;
           background-color: transparent;
           &:hover {
             background-color: transparent;
           }
         }
       }
     }
   }
   @media (min-width: 992px) {
     border-color: transparent;
     background-color: transparent;
     .navbar-brand {
       color: fade-out($white, .3);
       &:focus,
       &:hover {
         color: $white;
       }
     }
     .navbar-nav > li.nav-item > a.nav-link {
       padding: 0.5rem 1rem;
     }
     .navbar-nav > li.nav-item > a.nav-link,
     .navbar-nav > li.nav-item > a.nav-link:focus {
       color: fade-out($white, .3);
       &:hover {
         color: $white;
       }
     }
     &.navbar-shrink {
       border-bottom: 1px solid fade-out($gray-900, .9);
       background-color: $white;
       .navbar-brand {
         color: $primary;
         &:focus,
         &:hover {
           color: darken($primary, .1);
         }
       }
       .navbar-nav > li.nav-item > a.nav-link,
       .navbar-nav > li.nav-item > a.nav-link:focus {
         color: $gray-900;
         &:hover {
           color: $primary;
         }
       }
     }
   }
 }